* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  padding-top: 75px;
}

.unit-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.unit {
  width: 180px;
  height: 650px;
  border: 1px dotted blue;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  box-sizing: content-box;
  width: 100px;
  margin: 1em 0;
  border: 0.15em solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(to top, rgb(53, 65, 230), rgb(101, 146, 243));
  background-size: 0 0;
  background-repeat: no-repeat;
  background-position: bottom;
}

.btn {
  margin: 3px;
  padding: 2px;
}

.target {
  width: 30px;
  height: 30px;
  margin: 15px;
  font-weight: 600;
  background-color: rgb(240, 103, 103);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.water-text {
  font-size: 0.87em;
  text-decoration: overline;
}

.upper-container-1 {
  height: 3em;
}

.lower-container-1 {
  height: 5em;
}

.upper-container-2 {
  height: 6em;
}

.lower-container-2 {
  height: 4em;
}

.upper-container-3 {
  height: 9em;
}

.lower-container-3 {
  height: 7em;
}

.upper-container-4 {
  height: 7em;
}

.lower-container-4 {
  height: 5em;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
