* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 75px;
}

.unit-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.container {
  width: 100px;
  margin: 1em 0;
  font-size: large;
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.water {
  background-color: aqua;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.upper-container-1 {
  height: 3em;
}

.lower-container-1 {
  height: 5em;
}

.upper-container-2 {
  height: 6em;
}

.lower-container-2 {
  height: 4em;
}

.upper-container-3 {
  height: 9em;
}

.lower-container-3 {
  height: 7em;
}

.upper-container-4 {
  height: 7em;
}

.lower-container-4 {
  height: 5em;
}
